* {
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 14px 10px 14px 48px;
    background: cornflowerblue;
    font-size:20px;
    transition: 0.2s;
    font-family: sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:nth-child(odd) {
    background: cyan;
}
ul li:hover {
    background: rgb(46, 163, 218);
}

ul li.checked {
    background: darkblue;
    color: darkgrey;
    text-decoration: line-through;
}
.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    content: "";
    position: absolute;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px ;
    top: 12px;
    left: 14px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    text-decoration: line-through;
}

.close:hover {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: darkkhaki;
    color: white;
}

.header {
    background-color: teal;
    padding: 30px 30px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 5px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: right;
    font-size: 15px
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #ffffff;
    color: #555555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0;
}

.addBtn:hover{
    background-color: thistle;
}