body {
    margin-bottom: 30px;
}
#page-title {
    text-align: center;
    font-size: 100px;
}
ul {
    text-align: center;
    margin: 2 auto;
    list-style: none;
    font-family: sans-serif;
    margin-top: 35px;
}
#list > li {
    display: inline-block;
    margin: 35px;
    text-align: center;
}
input {
    width: 30px;
}
h2 {
    font-style: normal;
    font-size: 12px;
}
p {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
#footer {
    background-color: black;
    color: white;
    height: 30px;
    width: 80vw;
    position: fixed;
    bottom: 0;
}
#footer > li {
    display: inline-block;
    margin: 5px 10px 5px 10px;
    font-size: 15px;
}